{% extends 'patient/patientbase.html' %}
{% block content %}
<br><br>
<div class="container">

    

</div>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/64b6ef4f94cf5d49dc646c70/1h5l9dktc';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <script src="https://www.socialintents.com/api/socialintents.1.3.js#2c9fab3589616a7501896dfc2b0a0cda" async="async"></script>
  <script src="https://www.socialintents.com/api/chat/socialintents.1.3.js#2c9fab3589616a7501896dfc2b3e0cdd" async="async"></script>
  <!--End of Tawk.to Script-->
{% endblock content %}
